<!-- <table>
    <tr>
        <td>Topic: </td>
        <td><input [(ngModel)]="topicname" type="text" /></td>
        <td><button type="button" (click)="subscribeNewTopic()">Subscribe Topic</button></td>
    </tr>
    <tr>
        <td>Message: </td>
        <td><input [(ngModel)]="msg" type="text" /></td>
        <td><button type="button" (click)="sendmsg()">Send</button></td>
    </tr>
    <tr>
        <td></td>
        <td>&nbsp;&nbsp;<button type="button" (click)="clear()">Clear Log</button></td>
        <td></td>
    </tr>
</table> -->
<!-- <br /><br />
<div #msglog>
</div> -->
<app-line-chart></app-line-chart>
