<!--sidebar-->
<c-sidebar visible unfoldable="true" #sidebar1="cSidebar" class="d-print-none sidebar sidebar-fixed">
  <c-sidebar-header class="border-bottom" colorScheme="">
    <c-sidebar-brand>SFactory</c-sidebar-brand>
  </c-sidebar-header>
  <c-sidebar-nav [navItems]="navItems" />
  <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top" toggle="unfoldable" style="cursor: pointer;">
    <button cSidebarToggler></button>
  </c-sidebar-footer>

</c-sidebar>


<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="cSidebar"></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
